@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Fade background */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

/* Popup zoom */

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: pop 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Success circle animation */

.success-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: black;
  color: white;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 1s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Floating particles */

.particles::before,
.particles::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.05;
  animation: float 10s linear infinite;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, -20px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.4s ease-out forwards;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scaleIn 0.35s ease-out forwards;
}
